<%= form_tag("/offers", method: "post", :id => "offers-form", :class => "custom") do %>
  
  <span class="label">Page Size:</span>
  <select name="page" class="medium">
    <option value="1" selected>1</option>
    <% (2..10).each do |i| %>
      <option value="<%= i %>"><%= i %></option>
    <% end %>
  </select>

  <span class="label">User Id:</span>
  <input type="text" name="uid" placeholder="User Id" value="<%= current_user.id %>" required/>
  
  <span class="label"># of Params:</span>
  <select name="no_of_params" id="no-of-params" class="medium">
    <option value="1" selected>1</option>
    <% (2..10).each do |i| %>
      <option value="<%= i %>"><%= i %></option>
    <% end %>
  </select>
  
  <span class="label">User Params:</span>
  <div class="user-params">
    <input type="text" name="pub0" placeholder="User Param" required/>
  </div>
  <input type="Submit" value="Submit" class="button"/>

  <span class="loading"><span class="entypo-arrows-ccw"/></span>
<% end %>